@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: vazir;
    font-style: normal;
    font-weight: normal;
    src: url("../assest/font/Vazirmatn-Medium.woff2") format("woff2");
  }

  body,
  html {
    @apply w-full h-full overflow-hidden;
    direction: rtl;
    font-family: "vazir";
  }

  body {
    @apply m-0  text-white bg-slate-300;
  }
  .input-date {
    @apply w-full rounded !bg-slate-300 text-black placeholder-gray-500;
    height: 32px !important;
    /* "&:"{
      @apply outline-none border-none;
    } */
  }

  .box-white {
    @apply bg-white py-4 px-3 w-full;
  }

  .icon-input {
    @apply min-w-[32px] flex justify-center rounded items-center absolute top-0 left-0;
  }

  .container {
    @apply mx-auto px-2;
  }

  .pagination {
    @apply flex justify-center mt-2.5;
  }

  .pagination li {
    @apply flex items-center justify-center w-8 h-8 bg-black-100 border border-black-250 m-0.5 rounded;
    font-size: 12px;
  }

  .activePage {
    @apply text-cyan-50;
    border-color: #08979c !important;
  }

  .pagination li a {
    width: 2rem;
    height: 2rem;
    @apply flex items-center justify-center;
  }

  .pagination .disabled {
    @apply opacity-5;
  }

  .date {
    @apply w-[70px] xl:w-[120px] h-[30px] bg-black-100 border-0 rounded-t-sm;
  }

  /* .li-style {
    padding: 10px;
    cursor: pointer;
  }

  .li-style:hover {
    @apply bg-cyan-50;
  }

  .active-status {
    @apply bg-green-150 border-2 border-green-50 text-green-100 px-1 h-[26px];
  }

  .inactive-status {
    @apply bg-red-200 border-2 border-red-100 w-[61px] h-[26px] text-red-150;
  }

  .detail-btn {
    @apply bg-cyan border-2 border-cyan-50 w-[65px] h-[32px] rounded-sm text-[14px] cursor-pointer;
  }

  .btn-searching {
    @apply bg-cyan text-[12px] w-[100px] h-[32px] rounded mx-[8px] border border-cyan-50;
  }

  .li-style {
    @apply p-2.5 cursor-pointer;
  }

  .li-style:hover {
    @apply bg-cyan-50;
  } */

  /* .overall-div {
    @apply flex flex-wrap gap-y-5 gap-x-5;
  } */

  .disable-div {
    @apply flex items-center bg-black-300 h-[40px] pr-[10px] w-[288px] rounded-sm;
  }

  .iconBd {
    @apply w-[40px] h-[40px] bg-[#6B6B6B] flex items-center justify-center rounded-sm;
  }

  /* .css-qbdosj-Input {
    @apply !h-[40px];
  }
  .css-qbdosj-Input {
    @apply m-0 p-0 !important;
  }
  .css-eo85ql-menu {
    @apply mt-1 p-0 !important;
  }
  .css-1fdsijx-ValueContainer {
    @apply !h-[40px] !flex !items-center;
  }

  .css-1hb7zxy-IndicatorsContainer {
    @apply bg-cyan-50 rounded-sm h-[40px];
  }
  .css-1u9des2-indicatorSeparator {
    @apply invisible;
  }
  .css-1dimb5e-singleValue {
    @apply text-white  flex items-center justify-center  !important;
  } */

  /* .css-166bipr-Input {
    @apply text-white flex items-center justify-center  !important;
  }
  .css-1jqq78o-placeholder {
    @apply text-white flex  justify-center items-center !important;
  } */
}

@layer components {
  /* input[type="text"]:not(.date, .search, .inputPass, .counter, .dataInput,.input-date),
  input[type="number"],
  textarea,
  .password,
  .counterContainer {
    @apply outline-0 h-[35px] rounded-[10px] shadow-lg !text-black  border-cyan-50 bg-slate-400 outline-none px-2 placeholder-black;
    resize: none;
  } */

  .inputCustom {
    @apply outline-0 h-[32px] rounded !text-black  border-cyan-50 !bg-slate-300 outline-none pr-3  placeholder-gray-500 text-sm focus:outline-none focus:border focus:border-cyan-50;
  }

  input[type="checkbox"] {
    accent-color: #08979c;
    -ms-transform: scale(1.3); /* IE */
    -moz-transform: scale(1.3); /* FF */
    -webkit-transform: scale(1.3); /* Safari and Chrome */
    -o-transform: scale(1.3); /* Opera */
    transform: scale(1.3);
  }

  input[type="text"]:focus {
    @apply border-cyan transition-all ease-in-out duration-300;
  }

  .btn-cyan {
    @apply bg-cyan-50 h-10 rounded-sm text-sm border border-cyan-50 px-1 w-[109px];
  }

  .btn-cyan-around {
    @apply rounded-sm text-sm border border-cyan-50 px-1 w-[109px] text-cyan-50;
  }

  .btn-cyan:hover,
  .btn-cyan-around:hover {
    @apply bg-cyan transition-all ease-in-out duration-300 text-white;
  }

  input {
    @apply outline-none text-sm;
  }

  .activeMenu {
    @apply border-r-4 border-cyan-50 bg-slate-500 transition-all bg-opacity-10;
  }
  /* input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
  }


 
  .border-red {
    border-color: #ad2102 !important;
  }

  th {
    @apply font-medium;
  }

  /* Chrome, Safari, Edge, Opera */
  /* input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  } */

  /* Firefox */
  /* input[type="number"] {
    -moz-appearance: textfield;
  } */

  /***text editor***/

  .gradient-login {
    background: linear-gradient(-45deg, #08979c, #006d75, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
    height: 100vh;
  }

  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
}
.login .ant-steps-item {
  width: 300px;
  height: 150px;
}

.ant-form-item-row {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
/* .ant-upload {
  width: 100% !important;
}
.ant-upload-select {
  width: 100% !important;
  height: 100% !important;
}
.ant-upload-wrapper {
  width: 100% !important;
  height: 100% !important;
} */
.ant-upload-wrapper {
  width: max-content !important;
  /* color:#17b8be */
  /* height: 100% !important; */
}
.ant-upload{
  margin: 0 !important;
}

